@page "/HxTabPanel_Issue1137_Test"

<h1>HxTabPanel</h1>

<HxTabPanel>
	<HxTab Id="1" Title="First" OnTabDeactivated="async args => await Method1()">
		<Content>This is the first tab.</Content>
	</HxTab>
	<HxTab Id="2" Title="Second" OnTabDeactivated="async args => await Method1()">
		<Content>This is the second tab.</Content>
	</HxTab>
</HxTabPanel>
<p>"@_deactivatedCount" time deactivated </p>


@code {
	private int _deactivatedCount = 0;

	private async Task Method1()
	{
		_deactivatedCount++;
		Console.WriteLine($"Called {_deactivatedCount} times");
		if (_deactivatedCount > 100)
		{
			throw new InvalidOperationException("OnTabDeactivated was called too many times.");
		}
		await Task.Delay(1);
	}

}